<div class="col-xs-12 table-responsive">

  <table class="table table-striped">
    <thead>
    <tr>
      <th class="text-center">Quantidade</th>
      <th>Item</th>
      <th>Descrição</th>
      <th class="text-right">Subtotal</th>
      <th class="text-right"></th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td class="text-center">
        <a class="btn btn-sm"><i class="fa fa-minus"></i></a>
        1
        <a class="btn btn-sm"><i class="fa fa-plus"></i></a>
      </td>
      <td>Cup Cake</td>

      <td>Recheado com doce de leite</td>
      <td class="text-right">R$ 10,00</td>
      <td class="text-right">
        <a class="btn btn-sm danger"><i class="fa fa-remove"></i></a>
      </td>
    </tr>
    <tr>
      <td class="text-center">
        <a class="btn btn-sm"><i class="fa fa-minus"></i></a>
        1
        <a class="btn btn-sm"><i class="fa fa-plus"></i></a>
      </td>
      <td>Croissant</td>

      <td>Recheado com presunto e queijo</td>
      <td class="text-right">R$ 10,00</td>
      <td class="text-right">
        <a class="btn btn-sm danger "><i class="fa fa-remove"></i></a>
      </td>
    </tr>

    </tbody>
  </table>
</div>